@import './iconfont.styl'
@import './2.iconfont.styl'
@import './variable.styl'
@import './you.iconfont.styl'
@import './ding.iconfont.styl'
@import './3.iconfont.styl'

// html,body{
//     height: 100%
//     overflow: hidden
// }
body{
    padding-bottom: (88 / $rem)
}
*{
    margin: 0
    padding: 0
}
a{
    color: #000000
    text-decoration: none
}