@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1588736499026'); /* IE9 */
  src: url('../font/iconfont.eot?t=1588736499026#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABkQAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYwE2AiQDCAsGAAQgBYRtBy0bhgUR1Ythsr9APLYTFSSotBwhY+9JVx6+wvzZ9hQDVkABRsAISAAAAACACKK1snpnngAUWqAgaAB2rMNGREXIFyrCoASS0dcABVzYG4AgIXFP8Egx64UG/3++7XidTba6SyDEkh9o+NLSn1pEBcB+2x5LV9JCwiL1W9d+sjt8vDEsx+rkG0CA/J/Pczm9CXQg8wOd4zW37UFrUy+gXhxIge6BUWRFEnnD2AUv8DGBav1mxcZz71GVMntVIK5050+qLERlmRUqhfKGg1m8JJXFHS+i78cfc1FJoSyxNx48t3nGyvfv0qOxgCBGgMfLkDCLTBxtzO6XBOOS6mw2zLHKg+9KB15xVJdgf51dWgt6ofpMGm+lAAU81lSt6J50IdF6Ob+DpIU9bb3dlDOyy/zX5l06Ee63rUd7+N69I/BL6QoolXxKXQLB+rXr25H9TwQ+vaNwqcwwP5V78Ya/oRk4kA2d7SmypmkcLbSepa1aNUrgYLNvU+1tpy6GSm0T/BX6MiSVRsnMzqJMjQWUq7SMajN2HK/R4pYk8jDtOUBo9AGFettIGn0kM/sVZdr9Q7nGSKh2PLiwxnhQnboxakEH5oLO0uxdn6i4/I1hGzXndRH/R167BFR5WS68cEZeYsu6h1rEg2ea4Amew3EkWJh6tJK3IktTFL7pTbmlKVJujFrQgbmgszT7YLyoyuffGLZRc0dfXflHXrvZocrLAeTLPA/qe5RX1j3UIh480wRPMA/HkWBpntejlbydkF6awhnmh5rz7a3T350gihTbkYRTl6QPaYsi') format('woff2'),
  url('../font/iconfont.woff?t=1588736499026') format('woff'),
  url('../font/iconfont.ttf?t=1588736499026') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg?t=1588736499026#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e600";
}

